[submodule "tools/ide-plugins/raven-intellij-plugin"]
	path = tools/ide-plugins/raven-intellij-plugin
	url = https://github.com/BigBadE/raven-intellij-plugin.git
[submodule "crates/async-recursion"]
	path = crates/async-recursion
	url = git@github.com:BigBadE/async-recursion.git
[submodule "crates/async-trait"]
	path = crates/async-trait
	url = git@github.com:BigBadE/async-trait.git
[submodule "crates/chalk"]
	path = crates/chalk
	url = git@github.com:rust-lang/chalk.git
