name: Rust

on:
  schedule:
    - cron: "0 0 * * *"
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true
    - name: Add Nightly
      run: rustup toolchain install nightly
    - name: Build
      run: cargo +nightly build --verbose --release --bin magpie
    - name: Build Wrapper
      run: cargo +nightly build --verbose --release --bin magpie-wrapper
    - name: Release Raven
      uses: shogo82148/actions-upload-release-asset@v1
      with:
          upload_url: https://uploads.github.com/repos/BigBadE/Raven-Language/releases/123226271/assets
          asset_path: target/release/magpie
          asset_name: Magpie-linux
          overwrite: true
    - name: Release Magpie Wrapper
      uses: shogo82148/actions-upload-release-asset@v1
      with:
          upload_url: https://uploads.github.com/repos/BigBadE/Raven-Language/releases/123226271/assets
          asset_path: target/release/magpie-wrapper
          asset_name: Magpie-wrapper-linux
          overwrite: true
